<!DOCTYPE html>
<html lang="sv" ng-app="app">
<head>
  <!-- <base href="/"> -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Analyslista</title>
  <!-- Angular Material stylesheet -->
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css">
  <!-- App stylesheet -->
  <link rel="stylesheet" href="styles.css" media="screen" charset="utf-8">
</head>
<body ng-controller="AppController" ng-class="{lab: personelType === 'lab'}" ng-cloak>
  <md-content>
    <!-- Header -->
    <div class="header container">
      <a href="/#/" class="title">
        <h1>Provtagningsanvisningar</h1>
      </a>
      <a href="http://www.ltv.se/Vardgivare-och-samarbetspartners/laboratoriemedicin/" target="_blank">
        <img src="http://www.ltv.se/images/landstinget-vastmanland.png" alt="" />
      </a>
    </div>


    <!-- Search form -->
    <div class="subheader">
      <form ng-submit="">
        <md-radio-group ng-model="personelType">
          <md-radio-button value="health" aria-label="Vårdpersonal">Vårdpersonal</md-radio-button>
          <md-radio-button value="lab" aria-label="Laboratoriepersonal">Laboratoriepersonal</md-radio-button>
        </md-radio-group>

        <div class="search">
          <md-autocomplete
              md-selected-item="selectedItem"
              md-search-text="searchText"
              md-items="item in search(searchText)"
              md-item-text="item.Komponent"
              md-min-length="1"
              placeholder="Sök efter provtagningsanvisningar">

            <md-item-template>
              <span ng-if="item.Komponent.toLowerCase().indexOf(searchText.toLowerCase()) !== -1" md-highlight-text="searchText" md-highlight-flags="^i">{{item.Komponent}}, {{item.System}}</span>
              <span ng-if="item.Komponent.toLowerCase().indexOf(searchText.toLowerCase()) === -1" md-highlight-text="searchText" md-highlight-flags="^i">{{item.Komponent}} ({{item['Alternativa Sökord'].split(', ').filter(searchFor(searchText))[0]}}), {{item.System}}</span>
            </md-item-template>

            <md-not-found>
              "{{searchText}}" hittades inte.
            </md-not-found>
          </md-autocomplete>
        </div>
      </form>
    </div>



    <!-- Main content -->
    <div class="container" ng-view></div>

    <!-- Footer -->
    <div class="footer container">
      Skapad av <br />
      Gustav Sobel & Daniel Ström.
    </div>
  </md-content>

  <!-- Angular.js Libraries -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-route.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-aria.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-messages.min.js"></script>

  <!-- Angular Material Library -->
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.js"></script>

  <!-- App scripts -->
  <script src="app.js"></script>
  <script src="toolbox.js"></script>
  <script src="methods.js"></script>
  <script src="list/controller.js"></script>
  <script src="detail/controller.js"></script>
</body>
</html>
