<!DOCTYPE html>
<html lang="sv" ng-app="app">
<head>
  <base href="/"> 
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Analyslista</title>
  <!-- Angular Material stylesheet -->
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.1/angular-material.min.css">


  <!-- App stylesheet -->
  <link rel="stylesheet" href="styles.css" charset="utf-8">
  <link rel="stylesheet" href="large.css" charset="utf-8">
  <link rel="stylesheet" href="print.css" media="print" charset="utf-8">


  <!-- Favicons -->
  <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
</head>

<body ng-controller="AppController" ng-class="{lab: personelType === 'lab'}" ng-cloak>
  <md-content>
    <!-- Header -->
    <div class="header container">
      <a class="logo" href="http://www.ltv.se/Vardgivare-och-samarbetspartners/laboratoriemedicin/" target="_blank">
        <img src="img/landstinget-vastmanland-logo.png" alt="" />
      </a>
      <a href="/#/" class="title">
        <h1>Provtagnings&shy;anvisningar</h1>
      </a>
    </div>


    <!-- Search form -->
    <div class="subheader">
      <form ng-submit="">
        <md-radio-group ng-model="personelType">
          <md-radio-button value="health" aria-label="Vårdpersonal">Vårdpersonal</md-radio-button>
          <md-radio-button value="lab" aria-label="Laboratoriepersonal">Laboratoriepersonal</md-radio-button>
        </md-radio-group>

        <div class="search">
          <md-autocomplete
              md-selected-item="selectedItem"
              md-search-text="searchText"
              md-no-cache="true"
              md-items="item in search(searchText)"
              md-item-text="item.Komponent"
              md-min-length="1"
              placeholder="Sök efter provtagningsanvisningar">

            <md-item-template>
              <span ng-if="item.Komponent.toLowerCase().indexOf(searchText.toLowerCase()) !== -1" md-highlight-text="searchText" md-highlight-flags="^i">{{item.Komponent}}, {{item.System}}</span>
              <span ng-if="item.Komponent.toLowerCase().indexOf(searchText.toLowerCase()) === -1" md-highlight-text="searchText" md-highlight-flags="^i">{{item.Komponent}} ({{item['Alternativa Sökord'].split(', ').filter(searchFor(searchText))[0]}}), {{item.System}}</span>
            </md-item-template>

            <md-not-found>
              "{{searchText}}" hittades inte.
            </md-not-found>
          </md-autocomplete>
        </div>
      </form>
    </div>


    <!--
    <div class="watermark">
      Testversion
    </div>
    -->


    <!-- Main content -->
    <div class="container">

      <div class="disclaimer" ng-if="disclaimer">
        <div class="disclaimer__box">
          <lmvl-notice></lmvl-notice>
          <button class="md-button" ng-click="toggleDisclaimer(false)">OK</button>
        </div>
      </div>

      <main class="content" ng-view autoscroll="true"></main>

      <!--<aside class="sidebar">-->
        <!--<div class="sidebox">-->
          <!--<h2>Dokument</h2>-->
          <!--<div class="list">-->
            <!--<ul>-->
              <!--<li><a target="_blank" href="/data/Prislista_2016-02-08.pdf">Prislista</a></li>-->
              <!--<li><a target="_blank" href="/data/Rorfoljd_2016-06-21.pdf">Rörföljd</a></li>-->
              <!--<li><a target="_blank" href="/data/Provtagningsmateriel.pdf">Provtagningsmateriel</a></li>-->
            <!--</ul>-->
          <!--</div>-->
        <!--</div>-->

        <!--<div class="sidebox">-->
          <!--<h2>Länkar</h2>-->
          <!--<div class="list">-->
            <!--<ul>-->
              <!--<li><a target="_blank" href="http://www.ltv.se/Vardgivare-och-samarbetspartners/laboratoriemedicin/Nyhetermeddelanden-2012/">Nyheter/Meddelanden</a></li>-->
              <!--<li>Beställ remisser</li>-->
              <!--<ul>-->
                <!--<li><a target="_blank" href="http://www.karolinska.se/for-vardgivare/Karolinska-Universitetslaboratoriet/remisser/">Karolinska</a></li>-->
                <!--<li><a target="_blank" href="http://www.akademiska.se/remisser">Akademiska sjukhuset</a></li>-->
              <!--</ul>-->
            <!--</ul>-->
          <!--</div>-->

        <!--</div>-->
      <!--</aside>-->
    </div>

    <!-- Footer -->
    <div class="footer container">
      <p> Klinisk kemi | Västmanlands sjukhus Västerås, Ingång 1, plan 2 | 021-17 35 50 | Kontakt: <a class="link link--white" href="mailto:webmaster@lmvl.se">webmaster@lmvl.se</a></p>
      <p> © Gustav Sobel och Daniel Ström 2016 </p>
    </div>
  </md-content>

  <!-- Angular.js Libraries -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-route.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-aria.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-messages.min.js"></script>

  <!-- Angular Material Library -->
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.1/angular-material.min.js"></script>

  <!-- CSV-parser -->
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/4.1.2/papaparse.min.js"></script> -->

  <!-- XLSX-parser -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.8.0/xlsx.full.min.js">

  </script>

  <!-- App scripts -->
  <script src="app.js"></script>
  <script src="methods.js"></script>
  <script src="list/controller.js"></script>
  <script src="detail/controller.js"></script>
  <script src="data/notice.js"></script>
</body>
</html>
