@media (min-width: 500px) {
  .watermark {
    font-size: 4rem;
  }
}

@media (min-width: 768px) {
  aside {
    display: flex;
    justify-content: space-between;
  }
  aside .sidebox {
    width: 48%;
  }
  .watermark {
    font-size: 5rem;
  }
}

@media (min-width: 870px) {
  .header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .header h1 {
    font-size: 2.7rem;
  }

  .detail .table .row {
    display: flex;
  }

  .detail .table .cell.label {
    width: 10rem;
    flex-shrink: 0;
  }

  .detail .titleRow {
    display: flex;
    justify-content: space-between;
  }
}


@media (min-width: 1000px) {
  .detail .table .cell.label {
    width: 14rem;
  }


  md-content > .container {
    display: flex;
    justify-content: space-between;
  }

  main {
    width: 70%;
  }

  aside {
    width: 29%;
    flex-direction: column;
    justify-content: flex-start;
  }

  aside .sidebox {
    width: 100%;
  }

  .detail, .list {
    margin-right: 1rem;
  }

  .watermark {
    font-size: 6rem;
  }

}
