/*
  Main Stylesheet
  ===============

  ASCII-art: (Georgia11) http://www.kammerl.de/ascii/AsciiSignature.php
*/



/*

  .g8"""bgd
.dP'     `M
dM'       ` ,pW"Wq.`7MMpMMMb.pMMMb.  `7MMpMMMb.pMMMb.  ,pW"Wq.`7MMpMMMb.
MM         6W'   `Wb MM    MM    MM    MM    MM    MM 6W'   `Wb MM    MM
MM.        8M     M8 MM    MM    MM    MM    MM    MM 8M     M8 MM    MM
`Mb.     ,'YA.   ,A9 MM    MM    MM    MM    MM    MM YA.   ,A9 MM    MM
 `"bmmmd'  `Ybmd9'.JMML  JMML  JMML..JMML  JMML  JMML.`Ybmd9'.JMML  JMML.
*/


/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
  font-size: 18px;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: #0aaf8a;
}

body.lab {
  background: #0a8eaf;
}

md-content {
  background: white;
}

.container {
  padding: 20px 40px;
  width: 100%;
}

md-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  cursor: pointer;
}

a.disabled {
  pointer-events: none;
  cursor: default;
  color: #fdc4d7;
}

.hidden {
  visibility: hidden;
}

.pre {
  white-space: pre-line;
}


/*
                                       ,,
  `7MMF'  `7MMF'                     `7MM
    MM      MM                         MM
    MM      MM  .gP"Ya   ,6"Yb.   ,M""bMM  .gP"Ya `7Mb,od8
    MMmmmmmmMM ,M'   Yb 8)   MM ,AP    MM ,M'   Yb  MM' "'
    MM      MM 8M""""""  ,pm9MM 8MI    MM 8M""""""  MM
    MM      MM YM.    , 8M   MM `Mb    MM YM.    ,  MM
  .JMML.  .JMML.`Mbmmd' `Moo9^Yo.`Wbmd"MML.`Mbmmd'.JMML.
*/

.header {
  background: #0aaf8a;
  color: white;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 6px solid #199379;
  width: 100%;
}

body.lab .header {
  background: #0a8eaf;
  border-bottom-color: #197593;
}

.header h1 {
  margin: 0;
  font-weight: 500;
  font-size: 3rem;
  hyphens: auto;
  text-align: center;
}



.subheader {
  background: #b6e1d8;
  padding: 30px;
  width: 97%;
  margin-left: auto;
  margin-right: auto;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
}

body.lab .subheader {
  background: #b6d9e1;
}

a.title {
  color: white;
  text-decoration: none;
}
a.title:hover {
  color: white
}

.search {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search md-autocomplete {
  width: 100%;
}

.search .md-button {
  margin: 0;
  height: 40px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
      box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12) !important;
}

md-progress-linear {
  display: none;
}



/*
                ,,
  `7MMF'        db            mm
    MM                        MM
    MM        `7MM  ,pP"Ybd mmMMmm
    MM          MM  8I   `"   MM
    MM      ,   MM  `YMMMa.   MM
    MM     ,M   MM  L.   I8   MM
  .JMMmmmmMMM .JMML.M9mmmP'   `Mbmo
*/


.list .alphabet {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  list-style: none;
  padding: 0;
  font-size: 25px;
  margin-bottom: 2rem;
}

.list .alphabet li {
  margin-left: .3rem;
  margin-right: .3rem;
}

.list .alphabet a {
  text-decoration: none;
}

.list .letterGroup h2 {
  /*color: #f6558c;*/
  background: #444;
  color: white;
  display: inline;
}
.list .letterGroup ul {
  list-style: none;
  padding: 0;
  padding-left: 1rem;
}

.list .returnToTop {
  display: block;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  font-size: 1.7rem;
  background: #444;
  color: white;
  font-weight: bolder;
  padding: 2px;
  box-shadow: 0 0 .6rem rgba(68, 68, 68, 0.7);
}

.list .returnToTop:hover {
  color: white;
  background: #0aaf8a;
}

/*
                                          ,,    ,,
  `7MM"""Yb.             mm              db  `7MM
    MM    `Yb.           MM                    MM
    MM     `Mb  .gP"Ya mmMMmm  ,6"Yb.  `7MM    MM
    MM      MM ,M'   Yb  MM   8)   MM    MM    MM
    MM     ,MP 8M""""""  MM    ,pm9MM    MM    MM
    MM    ,dP' YM.    ,  MM   8M   MM    MM    MM
  .JMMmmmdP'    `Mbmmd'  `Mbmo`Moo9^Yo..JMML..JMML.
*/

.detail {
  display: flex;
  flex-direction: column;
}

.detail h3 {
  font-weight: normal;
}

.detail .table {
  list-style: none;
  padding: 0;
  margin-bottom: 1rem;
}

.detail .row {
  padding: 1rem;
}

.detail .cell {
  overflow-x: auto;
}

.detail .cell.label {
  font-weight: bold;
  padding: 0;
  margin-bottom: .5rem;
  overflow-x: auto;
  /*width: 7rem;
  hyphens: auto;
  flex-shrink: 0;*/
}

.detail .cell ul {
  margin: 0;
  padding-left: 16px;
  list-style: square;
}

.detail .row:nth-child(odd) {
  background: #f6f6f6
}

.detail .detailList {
  padding-left: 45px;
  padding-right: 45px;
  list-style: none;
  align-self: flex-start;
}

.detail .print {
  background: #1b88ab;
  width: 3.5rem;
  height: 3.5rem;
  padding: .5rem;
  border-radius: 50%;
  box-shadow: 0 0 .6rem rgba(68, 68, 68, 0.7);
  cursor: pointer;
  align-self: flex-end;
  margin-top: -2rem;
}

.detail .print:hover {
  box-shadow: 0 0 .6rem .1rem rgba(68, 68, 68, 0.7);
  background: hsla(195,73%,45%,1);
}

.detail .print:active {
  box-shadow: none;
  background: hsla(195,73%,34%,1);
}

/*
                        ,,        ,,
      db                db      `7MM
     ;MM:                         MM
    ,V^MM.    ,pP"Ybd `7MM   ,M""bMM  .gP"Ya
   ,M  `MM    8I   `"   MM ,AP    MM ,M'   Yb
   AbmmmqMA   `YMMMa.   MM 8MI    MM 8M""""""
  A'     VML  L.   I8   MM `Mb    MM YM.    ,
.AMA.   .AMMA.M9mmmP' .JMML.`Wbmd"MML.`Mbmmd'
*/

.sidebox {
  background: #b6e1d8;
  margin-top: 1.4rem;
  border-top-left-radius: .4rem;
  border-top-right-radius: .4rem;
}

.sidebox > h2 {
  background: #0aaf8a;
  color: white;
  padding: .4rem;
  border-bottom: 6px solid #199379;
  margin: 0;
  border-top-left-radius: .4rem;
  border-top-right-radius: .4rem;
  font-size: 1.4rem;
  padding-left: .8rem;
}

.sidebox a {
  color: black;
  text-decoration: none;
}

.sidebox a:hover {
  text-decoration: underline;
  color: black;
}

.sidebox > .list {
  overflow: auto;
}

body.lab .sidebox {
  background: #b6d9e1;
}

body.lab .sidebox > h2 {
  background: #1b88ab;
  border-bottom: 6px solid #197593;
}


/*
  `7MM"""YMM                   mm
    MM    `7                   MM
    MM   d  ,pW"Wq.   ,pW"Wq.mmMMmm .gP"Ya `7Mb,od8
    MM""MM 6W'   `Wb 6W'   `Wb MM  ,M'   Yb  MM' "'
    MM   Y 8M     M8 8M     M8 MM  8M""""""  MM
    MM     YA.   ,A9 YA.   ,A9 MM  YM.    ,  MM
  .JMML.    `Ybmd9'   `Ybmd9'  `Mbmo`Mbmmd'.JMML.
*/

.footer {
  background: #0aaf8a;
  color: white;
  text-align: right;
  border-top: 6px solid #199379;
  width: 100%;
  min-height: 8rem;
  display: flex;
  flex-direction: column;
}

body.lab .footer {
  background: #0a8eaf;
  border-top-color: #197593;
}

.footer p {
  text-align: center;
  margin: 0;
  margin-bottom: .5rem;
}
