<div class="detail">
  <div class="titleRow">
    <h2>{{ (method.System) ? method.Komponent + ', ' + method.System : method.Komponent}}</h2>
    <h3>{{method.Specialitet}}</h3>
  </div>

  <ul class="hints" ng-class="{lab: personelType === 'lab'}">
    <li ng-if="method['Tid']"><img src="/img/Tid.png" alt=""></li>
    <li ng-if="method['Is']"><img src="/img/Is.png" alt=""></li>
    <li ng-if="method['Mat']"><img src="/img/Mat.png" alt=""></li>
    <li ng-if="method['Ljus']"><img src="/img/Ljus.png" alt=""></li>
    <li ng-if="method['Dos']"><img src="/img/Dos.png" alt=""></li>
    <li ng-if="method['Rörfärg']"><img ng-src="/img/{{convertIconName(method['Rörfärg'])}}.png" alt=""></li>
  </ul>

  <ul class="table">
    <li class="row" ng-if="method['Alternativa Sökord'].length">
      <div class="cell label">Alternativa sökord</div>
      <div class="cell">
        <ul class="tableList">
          <li ng-repeat="alt in method['Alternativa Sökord'].split(', ')">{{alt}}</li>
        </ul>
      </div>
    </li>

    <li class="row" ng-if="method['Remisstext']">
      <div class="cell label">Remiss</div>
      <div class="cell">
        <a ng-if="method['Remisslänk']" class="link" target="_blank" ng-href="{{method['Remisslänk']}}">{{method['Remisstext']}}</a>
        <div ng-if="!method['Remisslänk']" class="cell"> {{method['Remisstext']}} </div>
      </div>
    </li>

    <li class="row" ng-if="method['Anges på remiss'].length">
      <div class="cell label">Anges på remiss</div>
      <div class="cell">
        <ul class="tableList">
          <li ng-repeat="x in method['Anges på remiss'].split(', ')">{{x}}</li>
        </ul>
      </div>
    </li>

    <li class="row" ng-if="method['Provtagning/Provtagningsmaterial']">
      <div class="cell label">Provtagning</div>
      <div class="cell pre">{{method['Provtagning/Provtagningsmaterial']}}</div>
    </li>

    <li class="row" ng-if="method['Kommentar/Viktigt att veta']">
      <div class="cell label">Kommentar/Viktigt att veta</div>
      <div class="cell pre"> {{method['Kommentar/Viktigt att veta']}} </div>
    </li>

    <li class="row" ng-if="method['Laboratoriet tillhanda']">
      <div class="cell label">Laboratoriet tillhanda</div>
      <div class="cell pre">{{method['Laboratoriet tillhanda']}} </div>
    </li>

    <li class="row" ng-if="method['Lämnas till']">
      <div class="cell label">Lämnas till</div>
      <div class="cell pre">{{method['Lämnas till']}} </div>
    </li>

    <li class="row" ng-if="method['Analyserande laboratorium']">
      <div class="cell label">Analyserande laboratorium</div>
      <div class="cell pre">{{method['Analyserande laboratorium']}} </div>
    </li>

    <li class="row" ng-if="method.Provhantering && personelType === 'lab'">
      <div class="cell label">Provhantering</div>
      <div class="cell pre">{{method.Provhantering}} </div>
    </li>

    <li class="row" ng-if="method['Förvaring, hållbarhet och transport'] && personelType === 'lab'">
      <div class="cell label">Förvaring, hållbarhet och transport</div>
      <div class="cell pre ">{{method['Förvaring, hållbarhet och transport']}} </div>
    </li>

    <li class="row" ng-if="method['Referensintervall']">
      <div class="cell label">Referensintervall</div>
      <div class="cell pre">{{method['Referensintervall']}} </div>
    </li>

    <li class="row" ng-if="method['Metod och analysprincip']">
      <div class="cell label">Metod och analysprincip</div>
      <div class="cell pre">{{method['Metod och analysprincip']}} </div>
    </li>

    <li class="row" ng-if="method['Indikation/Tolkning']">
      <div class="cell label">Indikation/Tolkning</div>
      <div class="cell pre">{{method['Indikation/Tolkning']}} </div>
    </li>

    <li class="row" ng-if="method['Metodansvarig läkare']">
      <div class="cell label">Metodansvarig läkare</div>
      <div class="cell pre">{{method['Metodansvarig läkare']}} </div>
    </li>

    <li class="row" ng-if="method['Ackrediterad']">
      <div class="cell label">Ackrediterad</div>
      <div class="cell pre">{{method['Ackrediterad']}} </div>
    </li>

    <li class="row" ng-if="method['Biobank']">
      <div class="cell label">Biobank</div>
      <div class="cell pre">{{method['Biobank']}} </div>
    </li>

    <li class="row" ng-if="method['Skickas till'] && personelType === 'lab'">
      <div class="cell label">Skickas till</div>
      <div class="cell pre">{{method['Skickas till']}} </div>
    </li>

    <li class="row" ng-if="method['Informationskälla'] && personelType === 'lab'">
      <div class="cell label">Informationskälla</div>
      <div class="cell">
        <a target="_blank" class="link" ng-href="{{method['Informationskälla']}}">{{method['Informationskälla']}}</a>
      </div>
    </li>

    <li class="row" ng-if="method['Svarstid']">
      <div class="cell label">Svarstid</div>
      <div class="cell pre">{{method['Svarstid']}} </div>
    </li>

    <li class="row" ng-if="method['Akut/Rutin']">
      <div class="cell label">Akut/Rutin</div>
      <div class="cell pre">{{method['Akut/Rutin']}} </div>
    </li>

    <li class="row" ng-if="method.Uppdaterad">
      <div class="cell label">Uppdaterad</div>
      <div class="cell">{{method.Uppdaterad}} av {{method['Sign.']}}</div>
    </li>
  </ul>

  <img ng-if="personelType === 'lab'" class="print" src="img/print.png" alt="print" ng-click="print()" />
</div>
