<div class="detail">
  <div class="titleRow">
    <h2>{{method.Komponent}}, {{method.System}}</h2>
    <h3>{{method.Specialitet}}</h3>
  </div>

  <ul class="table">
    <li class="row" ng-if="method['Alternativa Sökord'].length">
      <div class="cell label">Alternativa sökord</div>
      <div class="cell">
        <ul class="tableList">
          <li ng-repeat="alt in method['Alternativa Sökord'].split(', ')">{{alt}}</li>
        </ul>
      </div>
    </li>

    <li class="row" ng-if="method.Provtagning">
      <div class="cell label">Provtagning</div>
      <div class="cell pre">{{method.Provtagning}}</div>
    </li>

    <li class="row" ng-if="method['Övrigt']">
      <div class="cell label">Övrigt</div>
      <div class="cell pre"> {{method['Övrigt']}} </div>
    </li>

    <li class="row" ng-if="method['Remisstext']">
      <div class="cell label">Remiss</div>
      <div class="cell">
        <a ng-if="method['Remisslänk']" class="link" target="_blank" ng-href="{{method['Remisslänk']}}">{{method['Remisstext']}}</a>
        <div ng-if="!method['Remisslänk']" class="cell"> {{method['Remisstext']}} </div>
      </div>
    </li>

    <li class="row" ng-if="method['Anges på remiss'].length">
      <div class="cell label">Anges på remiss</div>
      <div class="cell">
        <ul class="tableList">
          <li ng-repeat="x in method['Anges på remiss'].split(', ')">{{x}}</li>
        </ul>
      </div>
    </li>

    <li class="row" ng-if="method['Laboratoriet tillhanda']">
      <div class="cell label">Laboratoriet tillhanda</div>
      <div class="cell pre">{{method['Laboratoriet tillhanda']}} </div>
    </li>

    <li class="row" ng-if="method.Provhantering && personelType === 'lab'">
      <div class="cell label">Provhantering</div>
      <div class="cell pre">{{method.Provhantering}} </div>
    </li>

    <li class="row" ng-if="method['Förvaring/Hållbarhet'] && personelType === 'lab'">
      <div class="cell label">Förvaring och transport</div>
      <div class="cell pre ">{{method['Förvaring/Hållbarhet']}} </div>
    </li>

    <li class="row" ng-if="method['Skickas till'] && personelType === 'lab'">
      <div class="cell label">Skickas till</div>
      <div class="cell pre">{{method['Skickas till']}} </div>
    </li>

    <li class="row" ng-if="method['Weblänk'] && personelType === 'lab'">
      <div class="cell label">Informations&shy;källa</div>
      <div class="cell">
        <a target="_blank" class="link" ng-href="{{method['Weblänk']}}">{{method['Weblänk']}}</a>
      </div>
    </li>

    <li class="row" ng-if="method.Uppdaterad">
      <div class="cell label">Uppdaterad</div>
      <div class="cell">{{method.Uppdaterad}} av {{method['Sign.']}}</div>
    </li>
  </ul>

  <img ng-if="personelType === 'lab'" class="print" src="img/print.png" alt="print" ng-click="print()" />
</div>
