<div class="detail">
  <div class="titleRow">
    <h2>{{method.Komponent}}, {{method.System}}</h2>
    <h3>{{method.Specialitet}}</h3>
  </div>

  <div class="table-wrapper">
    <table>
      <tr ng-if="method['Alternativa Sökord'].length">
        <td class="label">Alternativa sökord:</td>
        <td>
          <ul class="tableList">
            <li ng-repeat="alt in method['Alternativa Sökord'].split(', ')">{{alt}}</li>
          </ul>
        </td>
      </tr>

      <tr ng-if="method.Provtagning">
        <td class="label">Provtagning:</td>
        <td> {{method.Provtagning}} </td>
      </tr>

      <tr ng-if="method['Övrigt']">
        <td class="label">Övrigt:</td>
        <td> {{method['Övrigt']}} </td>
      </tr>

      <tr ng-if="method['Remisstext']">
        <td class="label">Remiss:</td>
        <td> <a ng-href="{{method['Remisslänk']}}">{{method['Remisstext']}}</a> </td>
      </tr>

      <tr ng-if="method['Anges på remiss'].length">
        <td class="label">Anges på remiss:</td>
        <td>
          <ul class="tableList">
            <li ng-repeat="x in method['Anges på remiss'].split(', ')">{{x}}</li>
          </ul>
        </td>
      </tr>

      <tr ng-if="method['Laboratoriet tillhanda']">
        <td class="label">Laboratoriet tillhanda:</td>
        <td> {{method['Laboratoriet tillhanda']}} </td>
      </tr>

      <tr ng-if="method.Provhantering && personelType === 'lab'">
        <td class="label">Provhantering:</td>
        <td> {{method.Provhantering}} </td>
      </tr>

      <tr ng-if="method['Förvaring/Hållbarhet'] && personelType === 'lab'">
        <td class="label">Förvaring och transport:</td>
        <td> {{method['Förvaring/Hållbarhet']}} </td>
      </tr>

      <tr ng-if="method['Skickas till'] && personelType === 'lab'">
        <td class="label">Skickas till:</td>
        <td> {{method['Skickas till']}} </td>
      </tr>

      <tr ng-if="method['Weblänk'] && personelType === 'lab'">
        <td class="label">Informationskälla:</td>
        <td> <a ng-href="{{method['Weblänk']}}">{{method['Weblänk']}}</a> </td>
      </tr>

      <tr ng-if="method.Uppdaterad">
        <td class="label">Uppdaterad:</td>
        <td> {{method.Uppdaterad}} av {{method['Sign.']}}</td>
      </tr>

    </table>
  </div>
</div>
